.partners-section {
	min-width: 20rem;
}

.images-wrapper {
	width: 80%;
	margin: 0 auto;

	display: flex;
	flex-wrap: wrap;
	gap: 4rem;
	justify-content: center;
	align-items: center;
}

.images-wrapper img {
	width: 100%;
	max-width: 40rem;

	transition: transform 0.2s; /* Animation */
}

.images-wrapper img:hover,
.images-wrapper img:focus {
	transform: scale(1.1);
}

@media only screen and (max-width: 768px) {
	.images-wrapper {
		gap: 1rem;
	}
}
