.organisers-container {
  max-width: 120rem;
  margin: 0 auto;

  padding: 1rem;

  display: flex;
  gap: min(1rem, 2vw);
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.organiser-card {
  font-size: min(1rem, 0.5rem + 1vw);

  width: min(48%, 25rem);

  border: 2px solid var(--secondary-clr);
  border-radius: 2em;

  margin-block: 0.5em;

  background-color: white;

  box-shadow: 0.25rem 0.25rem 0.75rem gray;

  display: flex;
  flex-direction: column;
  gap: 0.25em;
  justify-content: baseline;
  align-items: left;

  overflow: hidden;
}

.org__image-container {
  height: 20em;
}

.org__image-container > img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.org__info {
  padding: 0.5em 1em;
  height: 10em;

  display: grid;
  place-items: left center;
}

.org__info > * {
  margin-block: 0.25em;
}

.org__name {
  font-size: 1.375em;
  font-weight: 600;

  color: var(--secondary-clr);
}

.org__function {
  text-transform: capitalize;
  font-size: 1.25em;
}

.org__email-container {
  display: flex;
  gap: 0.75rem;
  align-items: center;

  text-decoration: none;
}

.org__email {
  font-size: 1em;

  color: var(--secondary-clr);
}

.org__email-container:hover > .org__email,
.org__email-container:focus > .org__email {
  text-decoration: underline;
}

.org__envelope-icon {
  width: 2em;
}

.org__envelope-icon > path {
  fill: var(--secondary-clr);
}

@media screen and (max-width: 550px) {
  .organiser-card {
    display: flex;
    flex-direction: row;

    width: 95%;
  }

  .org__image-container {
    max-height: 12em;
    height: auto;
  }

  .org__image-container > img {
    width: 7em;
  }
}

@media screen and (max-width: 320px) {
  .org__image-container > img {
    width: 5em;
  }

  .org__email-container {
    gap: 0rem;
  }

  .org__envelope-icon {
    display: none;
  }
}

@media screen and (max-width: 250px) {
  .org__image-container {
    display: none;
  }
}
