.files-section {
  margin-inline: min(2rem, 4vw);
  padding-top: min(2.5rem, 6vw);
}

.files-cards {
  font-size: min(1rem, 1.25vw);

  display: flex;
  flex-wrap: wrap;
  gap: min(2rem, 4vw);
  justify-content: space-around;
  align-items: center;

  max-width: 100rem;
  margin-inline: auto;
}

.file-card {
  max-width: 20em;

  display: grid;
  place-items: center;
  grid-template-rows: 3 auto;
  gap: 1.5em;

  text-align: center;
}

.card__bg-circle {
  height: 15em;
  aspect-ratio: 1;

  display: grid;
  place-items: center;

  border-radius: 50%;
  background-color: var(--primary-clr);
}

/* per icon alignment and sizing */
.sg-icon {
  width: 70%;
  margin-top: 0.375em;
}

/* per icon alignment and sizing */
.loc-icon {
  width: 50%;
  /* margin-top: 0.375rem; */
}

/* per icon alignment and sizing */
.sch-icon {
  width: 55%;
  margin-top: -0.375em;
}

.card__doc-name,
.card__doc-text {
  text-transform: uppercase;

  color: var(--primary-clr);
}

.card__doc-name {
  font-size: 2em;
  letter-spacing: 0.6px;
}

.card__doc-text {
  font-size: inherit;
  letter-spacing: 0.4px;
  text-decoration: none;
}

.card__doc-text:hover,
.card__doc-text:focus {
  text-decoration: underline;
}

@media only screen and (max-width: 320px) {
  .files-cards {
    font-size: min(1rem, 2vw);
  }
}
