.hero-section {
  position: relative;
  background-color: var(--bg-clr-dark);

  z-index: -2;
}

.header__bg-image {
  position: absolute;
  inset: 0;
  z-index: -1;

  background: linear-gradient(rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%),
    url("../../img/ebec people logo.jpg");
  background-size: cover;
  background-position: center;

  filter: blur(3px);
  -webkit-filter: blur(3px);
}

.header__content-container {
  margin: 2rem 5rem;

  font-size: 2rem;

  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  align-content: center;
  align-items: center;
}

.header__logo {
  flex: 1 1 60%;
  max-width: 100rem;

  animation-name: float;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.header__motto {
  flex: 1 1 35%;

  color: white;
  text-shadow: 2px 2px 10px black;
  margin-bottom: 0.75rem;

  font-size: 2.5em;

  text-align: center;
}

.countdown {
  flex: 1 1 100%;

  text-align: center;
  text-transform: uppercase;
  color: white;
  font-family: "Simply Rounded Regular", sans-serif;
}

.countdown__event-status {
  font-size: 2em;

  text-shadow: 1px 1px 2px white;
}

.countdown span:nth-child(2n) {
  margin-left: 1rem;

  font-size: 3em;

  text-shadow: 1px 1px 2px white;
}

@media only screen and (max-width: 1200px) and (min-width: 767px) {
  .header__content-container {
    font-size: 1.75rem;
    margin: 2rem;
  }
}

@media only screen and (max-width: 767px) {
  .header__content-container {
    font-size: 1.25rem;
    margin: 1.5rem;
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0px);
  }
}
