.main-section {
  padding: min(2rem, 3vw);

  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-around;
  align-items: center;
}

.main-section:nth-child(2n-1) {
  flex-direction: row-reverse;
}

.main-s__content-container {
  width: min(45%, 50rem);
}

@media screen and (max-width: 768px) {
  .main-s__content-container {
    width: 100%;
  }
}

.main-s__image {
  width: 100%;
  max-height: min(15vw, 25rem);
}

.main-s__heading {
  padding-top: 0;
}

.main-s__text {
  text-align: center;
}

.main-s__text > a {
  text-decoration: none;
  text-transform: uppercase;
}

.main-s__text > a:hover,
.main-s__text > a:focus {
  text-decoration: underline;
}

.carousel {
  position: relative;
  height: min(25rem, 30vw);
  width: 70%;
  margin: 0 auto;
}

.carousel__image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* image will be cut instead of streached */

  /* pointer for lightbox */
  cursor: pointer;
}

.carousel__track-container {
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 2vw;
}

.carousel__track {
  padding: 0;
  margin: 0;
  list-style: none;

  height: 100%; /* necessary cause js track.transform shrinks them to 0 */
}

.carousel__slide {
  position: absolute;
  top: 0;
  bottom: 0;

  width: 100%;
}

/* Next and previous buttons */
.carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); /* move up 50% of button height */

  cursor: pointer;

  background: none;
  border-radius: 30%;
  border: none;

  transition: background-color 0.2s ease-in; /* animate background fade-in on hover */
}

.carousel__button:hover,
.carousel__button:focus {
  background-color: rgba(0, 0, 0, 0.3);
}

.carousel__prevBtn {
  left: max(-4rem, -12vw);
}

.carousel__nextBtn {
  right: max(-4rem, -12vw);
}

.carousel__button > svg {
  width: min(2.5rem, 6vw);
  margin: 2rem 0;
}

.carousel__button svg path {
  fill: var(--accent-clr);
}

/* Navigation buttons */
.carousel__nav {
  /* background-color: pink; */
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

.carousel__indicator {
  border: none;
  border-radius: 50%;
  width: min(1.5rem, 3vw);
  aspect-ratio: 1;
  background: var(--accent-clr);
  filter: brightness(50%);
  margin: 0 min(1rem, 2vw);

  /* animate background fade-in on hover */
  -moz-transition: filter 0.2s ease-in;
  -o-transition: filter 0.2s ease-in;
  -webkit-transition: filter 0.2s ease-in;
  transition: filter 0.2s ease-in;
}

.carousel__indicator:hover {
  filter: brightness(90%);
}

.carousel__indicator.current-slide {
  filter: brightness(100%);
}

.carousel__indicator:not(.carousel__indicator.current-slide) {
  cursor: pointer;
}

.posts {
  margin: 1rem;

  display: grid;
  justify-content: center;
  gap: 1rem;
}

.post {
  border: solid 1px lightgrey;
  border-radius: 1rem;

  box-shadow: 0.5rem 0.375rem 0.75rem gray;

  overflow: hidden;

  background-color: white;
}

.post__data-wrapper {
  margin: 0.5rem 1rem;
}

.post__row {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.post__title,
.post__read-more-link {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.white-space {
  /* show whole title when post expanded */
  white-space: normal;
}

.post__text {
  min-height: 4rem;
  max-height: 4rem;

  margin: 1rem 0;

  overflow: hidden;

  text-align: justify;
  white-space: pre-line;
}

.post__date {
  color: var(--accent-clr);
}
