.contact-section {
	/* background-image: url("img/+\ pattern.png"); */
	overflow: hidden;
}

.people-cards {
	display: flex;
	flex-wrap: wrap;
	gap: 4rem;
	justify-content: center;
	/* justify-content: left;  */

	margin: 4rem;
	/* width: 50vw; */
}

.person-card {
	/* width: 100%; */

	display: flex;
	justify-content: center;
	gap: 1rem;
}

.people-cards > div:first-child,
.people-cards > div:last-child {
	flex: 1 1 100%;
}

.person-card div {
	position: relative;
}

.rhombus-svg {
	height: 10rem;
	/* min-width: 100%; */

	animation-name: float;
	animation-duration: 8s;
	animation-iteration-count: infinite;
	/* animation-delay added in js */
}

.rhombus-svg > path {
	fill: none;
	stroke: var(--accent-clr);
	/* padding: 2px; */
	stroke-miterlimit: 10;
	stroke-width: 1rem;
}

.person-info {
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	gap: 0.875em;

	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.person-info div {
	display: flex;
	gap: 0.5rem;
}

.person-info__icon {
	width: 1.25em;
}

.person-info__icon > path {
	fill: var(--accent-clr);
}

.person-info__text {
	font-size: 1.25em;
	text-decoration: none;
	white-space: nowrap;
	vertical-align: middle;

	color: var(--accent-clr);
}

@media only screen and (max-width: 600px) {
	.people-cards {
		gap: 1.5rem;

		margin: 1rem;
	}

	.rhombus-svg {
		height: 8rem;
	}

	.person-info {
		font-size: 0.75rem;
	}
}
@media only screen and (max-width: 400px) {
	.rhombus-svg {
		height: 4rem;
	}

	.person-info {
		font-size: 0.625rem;
	}
}

@keyframes float {
	0% {
		transform: translateY(0rem);
	}
	50% {
		transform: translateY(1rem);
	}
	100% {
		transform: translateY(0rem);
	}
}
