body {
    height: 3000px;
    background: linear-gradient(#833692, #09aad3);
}

.progress-bar {
    height: .5rem;
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    /* width: 100px; */
}


.hidden {
    display: none;
}