.collaboration-section {
  margin: 2rem auto;
  padding-inline: 1rem;

  max-width: 80rem;
}

.collab-s__images {
  margin-bottom: min(2rem, 2vw);

  display: flex;
  gap: 4%;
  justify-content: center;
  align-items: center;
}

.collab-s__img-container {
  width: 40%;

  display: grid;
  place-items: center;
}

.collab-s__svg-container {
  width: 12%;
}

.collab-s__img-container * {
  width: 100%;
}

.collab-s__img-container img {
  max-height: 15rem;

  -webkit-transition: transform 0.3s ease-in-out;
  -moz-transition: transform 0.3s ease-in-out;
  -ms-transition: transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}

.collab-s__img-container img:hover,
.collab-s__img-container img:focus {
  transform: scale(1.1);
}

.collab-s__handshake-icon > path {
  fill: var(--secondary-clr);
}

.collab-s__text {
  margin: 0 auto;

  line-height: 1.6;
  text-align: center;
}

.collab-s__text > a {
  text-decoration: none;
}

.collab-s__text > a:hover,
.collab-s__text > a:focus {
  text-decoration: underline;
}

@media only screen and (max-width: 450px) {
  .collab-s__img-container {
    width: 50%;
  }

  .collab-s__img-container img {
    max-height: 8rem;
  }

  .collab-s__svg-container {
    display: none;
  }
}
