* {
	box-sizing: border-box;
	margin: 0;
}

:root {
	/* colors depend on project */
	--primary-clr: #3c6f9b;
	--secondary-clr: #294f66;
	--accent-clr: #5cb0e5;
	--text-clr: #666666;

	--dark-bg-clr: #252525;

	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
}

html {
	scroll-behavior: smooth;
}

/* names of pages */
h1 {
	margin: 2rem;

	text-align: center;
	text-transform: uppercase;

	font-size: 8rem;

	color: var(--primary-clr);
}

/* names of sections */
h2 {
	margin: 1.5rem;

	text-align: center;
	text-transform: uppercase;

	font-size: 6rem;

	color: var(--primary-clr);
}

/* names of subsections */
h3 {
	margin: 1rem;

	text-align: center;
	font-size: 4rem;

	color: var(--secondary-clr);
}

/* other titles (posts etc) */
h4 {
	font-size: 1.5rem;

	color: var(--accent-clr);
}

p {
	font-size: 1.25rem;

	color: var(--text-clr);
}
