* {
    margin: 0;
}

.icons-section {
    display: flex;
    text-align: center;
    padding: 50px;
    background-color: #252626;
}

.icons-s__container {
    /* border: black solid 2px; */
    margin: 0 auto;

    width: 250px;
}

.icons-s__circle {
    margin: 0 auto;
    position: relative;

    height: 150px;
    width: 150px;

    background-color: rgb(19, 157, 208);
    border-radius: 50%;
    display: inline-block;
}

.icons-s__circle svg {
    margin: auto;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.icons-s__circle path {
    fill: #252626;
}


.icons-s__sg-icon {
    width: 70%;
    padding-top: 5%;
}


.icons-s__s-icon {
    width: 55%;
}

.icons-section h3, a {
    color: rgb(19, 157, 208);
    text-transform: uppercase;
    font-family:  Geneva, Tahoma, sans-serif;
}

.icons-section h3 {
    letter-spacing: .6px;
    padding: 10px;
}

.icons-s__link-text {
    text-decoration: none;
    letter-spacing: .4px;
    font-size: .9em;
}