* {
	margin: 0;
}

:root {
	--primary-clr: royalblue;
	--bg-clr-dark: #252525;
}

.icons-section {
	min-width: 20rem;

	/* background-color: var(--bg-clr-dark); */

	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
}

.files-cards {
	padding: 2rem 4rem;

	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
}

/* .files-cards * {
	border: black solid 2px;
} */

.file-card {
	margin: 0 auto;

	display: grid;
	grid-template-rows: 3 auto;
	gap: 0.5rem;

	text-align: center;

	width: 20rem;
}

.card__bg-circle {
	position: relative;
	margin: 0 auto;

	height: 15rem;
	aspect-ratio: 1;

	border-radius: 50%;
	background-color: var(--primary-clr);
}

.card__bg-circle svg {
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}

/* .card__bg-circle svg path {
	fill: var(--bg-clr-dark);
} */

.sg-icon {
	width: 70%;
	margin-top: 0.375rem;
}

.sch-icon {
	width: 55%;
	margin-top: -0.375rem;
}

.card__doc-name,
.card__doc-text {
	text-transform: uppercase;

	color: var(--primary-clr);
}

.card__doc-name {
	padding: 10px;

	font-size: 2rem;
	letter-spacing: 0.6px;
}

.card__doc-text {
	text-decoration: none;
	font-size: 1.25rem;
	letter-spacing: 0.4px;
}

@media only screen and (max-width: 505px) {
	.files-cards {
		padding-inline: 0.5rem;
	}

	.card__bg-circle {
		height: 10rem;
	}
}
